# __CHAPTER 10: OBJECT-ORIENTED PROGRAMMING__
## Jarrod Sims

## 10.2 Custom Class Accounts

### Test-Driving Class Accounts

In [7]:
from account import Account

In [8]:
from decimal import Decimal

In [9]:
account1 = Account('John Green', Decimal('50.00'))

In [10]:
account1.name

'John Green'

In [11]:
account1.balance

Decimal('50.00')

In [12]:
account1.deposit(Decimal('25.53'))
account1.balance

Decimal('75.53')

In [14]:
account1.deposit(Decimal('-123.45'))

ValueError: amount must be positive.

### Account Class Definition

In [7]:
print('Jarrod Sims')

Jarrod Sims

In [5]:
from decimal import Decimal

class Account:
    """Account class for maintaining a bank account balance."""

In [6]:
Account?

Init signature: Account()
Docstring:      Account class for maintaining a bank account balance.
Type:           type
Subclasses:

In [11]:
# Initializing Account Objects: Method 
def __init__(self, name, balance):
    """Initialize an Account object."""
    # if balance is less than 0.00, raise an exception
    if balance < Decimal('0.00'):
        raise ValueError('Initial balance must be >= to 0.00.')
        self.name = name
        self.balance = balance

In [13]:
# Method deposit 
def deposit(self, amount):
    """Deposit money to the account."""
    # if amount is less than 0.00, raise an exception
    if amount < Decimal('0.00'):
        raise ValueError('amount must be positive.')
    self.balance += amount

### 10.2.3 Composition: Object References as Members of Classes

In [36]:
print('Jarrod Sims')

Jarrod Sims

In [22]:
def withdraw(self, amount):
    """Withdraw money from the account."""

    # if amount is greater than balance, raise an exception
    if amount > self.balance:
        raise ValueError('amount must be <= to balance.')
    elif amount < Decimal('0.00'):
        raise ValueError('amount must be positive.')

    self.balance -= amount

In [21]:
from account import Account
from decimal import Decimal
account1 = Account('John Green', Decimal('50.00'))
account1.withdraw(Decimal('20.00'))
account1.balance

AttributeError: 'Account' object has no attribute 'withdraw'

### 10.3 Controlling Access to Attributes

In [35]:
print('Jarrod Sims')

Jarrod Sims

In [23]:
from account import Account 
from decimal import Decimal
account1 = Account('John Green', Decimal('50.00'))
account1.balance

Decimal('50.00')

In [25]:
account1.balance = Decimal('-1000.00')
account1.balance

Decimal('-1000.00')

### 10.4 Properties for Data Access

### 10.4.1 Test-Driving Class Time

In [34]:
print('Jarrod Sims')

Jarrod Sims

In [27]:
from timewithproperties import Time

In [29]:
wake_up = Time(hour=6, minute=30)
wake_up

Time(hour=6, minute=30, second=0)

In [30]:
print(wake_up)

6:30:00 AM

In [31]:
wake_up.hour

6

In [33]:
wake_up.set_time(hour=7, minute=45)
wake_up

Time(hour=7, minute=45, second=0)

In [37]:
wake_up.hour = 6
wake_up

Time(hour=6, minute=45, second=0)

In [38]:
wake_up.hour = 100

ValueError: Hour (100) must be 0-23

### 10.4.2 Class Time Definition

In [39]:
from timewithproperties import Time
t = Time()
t

Time(hour=0, minute=0, second=0)

In [45]:
t.time = (12, 30, 45)
t

Time(hour=0, minute=0, second=0)

In [46]:
t.time

(12, 30, 45)

### 10.4.3 Class Time Definition Design Notes

In [56]:
print('Jarrod Sims')

Jarrod Sims

In [47]:
from timewithproperties import Time
wake_up = Time(hour=7, minute=45, second=30)
wake_up._hour

7

In [49]:
wake_up._hour = 100
wake_up

Time(hour=100, minute=45, second=30)

### 10.5 Simulating "Private" Attributes

In [57]:
print('Jarrod Sims')

Jarrod Sims

In [50]:
from private import PrivateClass
my_object = PrivateClass()

In [51]:
my_object.__private_data

AttributeError: 'PrivateClass' object has no attribute '__private_data'

In [53]:
my_object._PrivateClass__private_data

'private'

In [55]:
my_object._PrivateClass__private_data = 'modified'
my_object._PrivateClass__private_data

'modified'

### 10.6 Case Study: Card Shuffling and Dealing Simulation

In [67]:
print('JArrod Sims')

JArrod Sims

In [60]:
from deck import DeckOfCards
deck_of_cards = DeckOfCards()
print(deck_of_cards)

Ace of Hearts      2 of Hearts        3 of Hearts        4 of Hearts
5 of Hearts        6 of Hearts        7 of Hearts        8 of Hearts
9 of Hearts        10 of Hearts       Jack of Hearts     Queen of Hearts
King of Hearts     Ace of Diamonds    2 of Diamonds      3 of Diamonds
4 of Diamonds      5 of Diamonds      6 of Diamonds      7 of Diamonds
8 of Diamonds      9 of Diamonds      10 of Diamonds     Jack of Diamonds
Queen of Diamonds  King of Diamonds   Ace of Clubs       2 of Clubs
3 of Clubs         4 of Clubs         5 of Clubs         6 of Clubs
7 of Clubs         8 of Clubs         9 of Clubs         10 of Clubs
Jack of Clubs      Queen of Clubs     King of Clubs      Ace of Spades
2 of Spades        3 of Spades        4 of Spades        5 of Spades
6 of Spades        7 of Spades        8 of Spades        9 of Spades
10 of Spades       Jack of Spades     Queen of Spades    King of Spades

In [61]:
deck_of_cards.shuffle()

In [62]:
print(deck_of_cards)

10 of Diamonds     7 of Spades        King of Diamonds   King of Hearts
6 of Hearts        5 of Spades        8 of Clubs         9 of Diamonds
Queen of Clubs     8 of Spades        Ace of Diamonds    King of Clubs
Queen of Diamonds  3 of Diamonds      Jack of Diamonds   5 of Hearts
5 of Clubs         2 of Hearts        Jack of Spades     Ace of Hearts
7 of Hearts        6 of Diamonds      Queen of Spades    Ace of Clubs
Queen of Hearts    9 of Hearts        4 of Clubs         10 of Hearts
8 of Hearts        3 of Spades        7 of Clubs         6 of Spades
4 of Diamonds      Jack of Hearts     9 of Spades        3 of Clubs
7 of Diamonds      King of Spades     10 of Clubs        4 of Spades
2 of Diamonds      6 of Clubs         5 of Diamonds      2 of Spades
2 of Clubs         3 of Hearts        9 of Clubs         10 of Spades
Ace of Spades      4 of Hearts        Jack of Clubs      8 of Diamonds

In [63]:
deck_of_cards.deal_card()

Card(face='10', suit='Diamonds')

In [65]:
card = deck_of_cards.deal_card()
str(card)

'King of Diamonds'

In [66]:
card.image_name

'King_of_Diamonds.png'

### 10.6.2 Class Card--Introducing Class Attributes (see text)

In [68]:
print('Jarrod Sims')

Jarrod Sims

### 10.6.3 Class DeckofCards see text

### 10.6.4 Displaying Card Images with Matplotlib

In [69]:
print('Jarrod Sims')

Jarrod Sims

In [6]:
from deck import DeckOfCards
deck_of_cards = DeckOfCards()
%matplotlib

Using matplotlib backend: TkAgg

In [7]:
from pathlib import Path
path = Path('.').joinpath('card_images')
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
figure, axes_list = plt.subplots(nrows=4, ncols=13)

# added next two statements to increase figure size in notebook
figure.set_figwidth(16)
figure.set_figheight(9)

for axes in axes_list.ravel():
    axes.get_xaxis().set_visible(False)
    axes.get_yaxis().set_visible(False)
    image_name = deck_of_cards.deal_card().image_name
    img = mpimg.imread(str(path.joinpath(image_name).resolve()))
    axes.imshow(img)

figure.tight_layout()

In [1]:
print('Jarrod Sims')

Jarrod Sims

In [8]:
deck_of_cards.shuffle()

In [9]:
figure, axes_list = plt.subplots(nrows=4, ncols=13)

# added next two statements to increase figure size in notebook
figure.set_figwidth(16)
figure.set_figheight(9)

for axes in axes_list.ravel():
    axes.get_xaxis().set_visible(False)
    axes.get_yaxis().set_visible(False)
    image_name = deck_of_cards.deal_card().image_name
    img = mpimg.imread(str(path.joinpath(image_name).resolve()))
    axes.imshow(img)
    
# added this statement for execution in the notebook
figure.tight_layout()

In [11]:
deck_of_cards.shuffle()
figure, axes_list = plt.subplots(nrows=2, ncols=5)

# added next two statements to increase figure size in notebook
figure.set_figwidth(16)
figure.set_figheight(9)

for axes in axes_list.ravel():
     axes.get_xaxis().set_visible(False)
     axes.get_yaxis().set_visible(False)
     image_name = deck_of_cards.deal_card().image_name
     img = mpimg.imread(str(path.joinpath(image_name).resolve()))
     axes.imshow(img)

figure.tight_layout()

### 10.8 Base Class CommissionEmployee

In [12]:
print('Jarrod Sims')

Jarrod Sims

In [14]:
from commissionemployee import CommissionEmployee
from decimal import Decimal
c = CommissionEmployee('Sue', 'Jones', '333-33-3333',
                       Decimal('10000.00'), Decimal('0.06'))
c

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 10000.00
commission rate: 0.06

In [16]:
print(f'{c.earnings():,.2f}')

600.00

In [17]:
c.gross_sales = Decimal('20000.00')
c.commission_rate = Decimal('0.1')
print(f'{c.earnings():,.2f}')

2,000.00

### 10.8.2 Subclass SalariedCommissionEmployee

In [19]:
from salariedcommissionemployee import SalariedCommissionEmployee
s = SalariedCommissionEmployee('Bob', 'Lewis', '444-44-4444',
         Decimal('5000.00'), Decimal('0.04'), Decimal('300.00'))
print(s.first_name, s.last_name, s.ssn, s.gross_sales, 
       s.commission_rate, s.base_salary)
print(f'{s.earnings():,.2f}')

Bob Lewis 444-44-4444 5000.00 0.04 300.00
500.00

In [20]:
s.gross_sales = Decimal('10000.00')
s.commission_rate = Decimal('0.05')
s.base_salary = Decimal('1000.00')
print(s)

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 10000.00
commission rate: 0.05
base salary: 1000.00

In [21]:
print(f'{s.earnings():,.2f}')

1,500.00

In [22]:
issubclass(SalariedCommissionEmployee, CommissionEmployee)

True

In [23]:
isinstance(s, CommissionEmployee)

True

In [24]:
isinstance(s, SalariedCommissionEmployee)

True

### 10.8.3 PRocessing CommissionEmployees and SalariedCommissionEmployees Polymorphically

In [28]:
print('JArrod Sims')

JArrod Sims

In [25]:
employees = [c, s]
for employee in employees:
     print(employee)
     print(f'{employee.earnings():,.2f}\n')

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 20000.00
commission rate: 0.10
2,000.00

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 10000.00
commission rate: 0.05
base salary: 1000.00
1,500.00

### 10.9 Duck Typing and Polymorphism

In [27]:
print('Jarrod Sims')

Jarrod Sims

In [26]:
class WellPaidDuck:
    def __repr__(self):
        return 'I am a well-paid duck'
    def earnings(self):
        return Decimal('1_000_000.00')
    
from decimal import Decimal
from commissionemployee import CommissionEmployee
from salariedcommissionemployee import SalariedCommissionEmployee
c = CommissionEmployee('Sue', 'Jones', '333-33-3333',
                       Decimal('10000.00'), Decimal('0.06'))
s = SalariedCommissionEmployee('Bob', 'Lewis', '444-44-4444',
    Decimal('5000.00'), Decimal('0.04'), Decimal('300.00'))
d = WellPaidDuck()
employees = [c, s, d]
for employee in employees:
    print(employee)
    print(f'{employee.earnings():,.2f}\n')

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 10000.00
commission rate: 0.06
600.00

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 5000.00
commission rate: 0.04
base salary: 300.00
500.00

I am a well-paid duck
1,000,000.00

### 10.10 Operator Overloading

In [29]:
print('Jarrod Sims')

Jarrod Sims

In [30]:
from complexnumber import Complex
x = Complex(real=2, imaginary=4)
x

(2 + 4i)

In [31]:
y = Complex(real=5, imaginary=-1)
y

(5 - 1i)

In [32]:
x + y

(7 + 3i)

In [33]:
x

(2 + 4i)

In [34]:
y

(5 - 1i)

In [36]:
x += y
x

(12 + 2i)

In [37]:
y

(5 - 1i)

In [38]:
def __sub__(self, right):
    return Complex(self.real - right.real, 
                   self.imaginary - right.imaginary)

def __isub__(self, right):
    self.real -= right.real
    self.imaginary -= right.imaginary
    return self

In [40]:
from complexnumber2 import Complex
x = Complex(real=2, imaginary=4)
y = Complex(real=5, imaginary=-1)
x - y

(-3 + 5i)

In [42]:
x -= y

In [43]:
x

(-8 + 6i)

In [44]:
y

(5 - 1i)

### 10.11 Exception Class Hierarchy and Custom Exceptions

### See text

### 10.12 Named Tuples

In [47]:
print('Jarrod Sims')

Jarrod Sims

In [48]:
from collections import namedtuple
Card = namedtuple('Card', ['face', 'suit'])
card = Card(face='Ace', suit='Spades')
card.face

'Ace'

In [49]:
card.suit

'Spades'

In [50]:
card

Card(face='Ace', suit='Spades')

In [51]:
values = ['Queen', 'Hearts']
card = Card._make(values)
card

Card(face='Queen', suit='Hearts')

In [52]:
card._asdict()

{'face': 'Queen', 'suit': 'Hearts'}

In [53]:
from collections import namedtuple
Time = namedtuple('Time', ['hour', 'minute', 'second'])
t = Time(13, 30, 45)
print(t.hour, t.minute, t.second)
t

13 30 45

Time(hour=13, minute=30, second=45)

In [55]:
from dataclasses import dataclass
@dataclass
class Demo:
    x

### 10.13.2 Using the Card Data Class

In [57]:
print('Jarrod Sims')

Jarrod Sims

In [59]:
from carddataclass import Card
c1 = Card(Card.FACES[0], Card.SUITS[3])
c1

Card(face='Ace', suit='Spades')

In [60]:
print(c1)

Ace of Spades

In [61]:
c1.suit

'Spades'

In [62]:
c1.image_name

'Ace_of_Spades.png'

In [63]:
c2 = Card(Card.FACES[0], Card.SUITS[3])
c2

Card(face='Ace', suit='Spades')

In [64]:
c3 = Card(Card.FACES[0], Card.SUITS[0])
c3

Card(face='Ace', suit='Hearts')

In [65]:
c1 == c2

True

In [66]:
c1 == c3

False

In [67]:
c1 != c3

True

In [68]:
from deck2 import DeckOfCards
deck_of_cards = DeckOfCards()
print(deck_of_cards)

Ace of Hearts      2 of Hearts        3 of Hearts        4 of Hearts
5 of Hearts        6 of Hearts        7 of Hearts        8 of Hearts
9 of Hearts        10 of Hearts       Jack of Hearts     Queen of Hearts
King of Hearts     Ace of Diamonds    2 of Diamonds      3 of Diamonds
4 of Diamonds      5 of Diamonds      6 of Diamonds      7 of Diamonds
8 of Diamonds      9 of Diamonds      10 of Diamonds     Jack of Diamonds
Queen of Diamonds  King of Diamonds   Ace of Clubs       2 of Clubs
3 of Clubs         4 of Clubs         5 of Clubs         6 of Clubs
7 of Clubs         8 of Clubs         9 of Clubs         10 of Clubs
Jack of Clubs      Queen of Clubs     King of Clubs      Ace of Spades
2 of Spades        3 of Spades        4 of Spades        5 of Spades
6 of Spades        7 of Spades        8 of Spades        9 of Spades
10 of Spades       Jack of Spades     Queen of Spades    King of Spades

In [71]:
from carddataclass import Card
c = Card('Ace', 'Spades')
c

Card(face='Ace', suit='Spades')

In [73]:
type(c.face)

str

In [74]:
c.face = 100
c

Card(face=100, suit='Spades')

In [75]:
type(c.face)

int

### 10.14 Unit Testing with Docstrings and doctest

### see text

### 10.15 Name Spaces and Scopes

In [76]:
print('Jarrod Sims')

Jarrod Sims

In [78]:
z = 'global z'

def print_variables():
    y = 'local y in print_variables'
    print(y)
    print(z)   

print_variables()

local y in print_variables
global z

In [80]:
z

'global z'

In [81]:
y

(5 - 1i)

### 10.16 Intro to Data Science: Time Series and Simple Linear Regression

In [104]:
print('Jarrod Sims')

Jarrod Sims

In [103]:
c = lambda f: 5 / 9 * (f - 32)
temps = [(f, c(f)) for f in range(0, 101, 10)]
import pandas as pd

temps_df = pd.DataFrame(temps, columns=['Fahrenheit', 'Celsius'])
axes = temps_df.plot(x='Fahrenheit', y='Celsius', style='.-')
y_label = axes.set_ylabel('Celsius')

In [106]:
nyc = pd.read_csv('ave_hi_nyc_jan_1895-2018.csv')
nyc.head()

     Date  Value  Anomaly
0  189501   34.2     -3.2
1  189601   34.7     -2.7
2  189701   35.5     -1.9
3  189801   39.6      2.2
4  189901   36.4     -1.0

In [105]:
nyc.tail()

       Date  Value  Anomaly
119  201401   35.5     -1.9
120  201501   36.1     -1.3
121  201601   40.8      3.4
122  201701   42.8      5.4
123  201801   38.7      1.3

In [107]:
nyc.columns = ['Date', 'Temperature', 'Anomaly']
nyc.head(3)

     Date  Temperature  Anomaly
0  189501         34.2     -3.2
1  189601         34.7     -2.7
2  189701         35.5     -1.9

In [108]:
nyc.Date.dtype

dtype('int64')

In [109]:
nyc.Date = nyc.Date.floordiv(100)
nyc.head(3)

   Date  Temperature  Anomaly
0  1895         34.2     -3.2
1  1896         34.7     -2.7
2  1897         35.5     -1.9

In [110]:
pd.set_option('display.precision', 2)
nyc.Temperature.describe()

count    124.00
mean      37.60
std        4.54
min       26.10
25%       34.58
50%       37.60
75%       40.60
max       47.60
Name: Temperature, dtype: float64

In [111]:
from scipy import stats

In [112]:
linear_regression = stats.linregress(x=nyc.Date,
                                     y=nyc.Temperature)

In [113]:
linear_regression.slope

0.014771361132966163

In [114]:
linear_regression.intercept

8.694993233674289

In [115]:
linear_regression.slope * 2019 + linear_regression.intercept

38.51837136113297

In [116]:
linear_regression.slope * 1850 + linear_regression.intercept

36.022011329661694

In [117]:
import seaborn as sns
sns.set_style('whitegrid')
axes = sns.regplot(x=nyc.Date, y=nyc.Temperature)
axes.set_ylim(10, 70)

(10.0, 70.0)

In [118]:
year = 2019
slope = linear_regression.slope
intercept = linear_regression.intercept
temperature = slope * year + intercept

while temperature < 40.0:
    year += 1
    temperature = slope * year + intercept
year

2120